.jumbotron{

background-color: lightgrey;
height: 400px;
width: 100%;

color: black;


}



.sectionHeading{

    text-align: center;
    text-decoration: underline;

}

.showsNear{

    padding: 0px 30px 30px 30px;
    
    }

.cardContainer {
     margin-top: 20px;
    text-align: center;
    
      
}

.card {
    margin: 0 auto;
  }

  .content{

    padding: 20px;

  }
    







  .SkillsSection{

    text-align: center;


}

.SkillsNear{

    padding: 0px 200px 200px 150px;
    
    }

.SkillsContainer {
     margin-top: 10px;
    text-align: center;
    justify-content: center;   
}

.Skills {
    margin: 0 auto;

  }

  .content{

    padding: 30px;
    
  }

  .giv {
    background-color: aqua; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .giv li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

  .card-text-center{

    text-align: center;


  }

  .card-body{

    text-align: center;
  }

  .nav{

    
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;

  }

  .nav li{


    display: inline-block;
    font-size: 20px;
    padding: 20px;

  }